.panel-title>a {
    text-decoration: none;
}
.panel-title>a:hover{
    text-decoration: none;
}

.panel.panel-default {
    margin-top: 20px;
}
.ac-list tr{
    color: gray;
    font-weight: lighter;
    text-align: center;
}

.ac-delete {
    border: none;
    color: red;
    background-color: white;
}

.ac-state {
    border: none;
    color: #0199cc;
    background-color: white;
    font-weight: 500;
}

.form-control {
    width: 200px;
    float: left;
    margin-right: 15px;
}

.ac-operation {
    margin-bottom: 20px;
}
.btn.btn-default.ac-search{
    background-color: rgba(1, 178, 213, 0.83);
    border: none;
    color: white;
    font-weight: bold;
}

.btn.btn-default.ac-add{
    background-color: rgba(250, 163, 61, 0.9);
    border: none;
    color: white;
    font-weight: bold;
    margin-left:15px;
}
